.marker {
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 8px #33272080;
}

/* MarkerLayer.css */
.popup-content {
    font-family: Arial, sans-serif;
    max-width: 200px;
    position: relative;
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content p {
    margin: 5px 0;
}

.popup-content .MuiButton-root {
    margin-top: 8px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}

:root {
    --parcel-start-icon: none;
    --trip-start-icon: none;
    --parcel-end-icon: none;
    --trip-intermediate-icon: none;
    --trip-end-icon: none;
}

.marker.parcel { background-color: #a96038; }
.marker.trip { background-color: #547568; }
.marker.end { border-style: double; }

.marker.start.parcel {
    background-image: var(--parcel-start-icon);
}

.marker.start.trip {
    background-image: var(--trip-start-icon);
}

.marker.end.parcel {
    background-image: var(--parcel-end-icon);
}

.marker.intermediate.trip {
    background-image: var(--trip-intermediate-icon);
}

.marker.end.trip {
    background-image: var(--trip-end-icon);
}
